@import 'tailwindcss';

@custom-variant interact (&:hover, &:focus);

:root {
	--ease-out-expo: cubic-bezier(0.16, 1, 0.3, 1);
}

html,
body {
	@apply bg-white/35 overflow-hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div,
article,
header,
section,
footer,
aside,
nav,
main {
	@apply cursor-default select-none;
}

.highlight-interact:hover,
.highlight-interact:focus {
	animation: highlight-focus .3s ease-in-out;
}

.highlight-focus:focus {
	animation: highlight-focus .3s ease-in-out;
}

@keyframes highlight-focus {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.175);
	}

	100% {
		transform: scale(1);
	}
}

.highlight-active:active {
	animation: highlight-active .15s ease-in;
}

@keyframes highlight-active {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(0.825);
	}

	100% {
		transform: scale(1);
	}
}
