@import 'tailwindcss';

@custom-variant interact (&:hover, &:focus);

:root {
	--ease-out-expo: cubic-bezier(0.16, 1, 0.3, 1);
	--ease-out-quant: cubic-bezier(0.22, 1, 0.36, 1);
}

html,
body {
	@apply overflow-hidden;
}

body {
	background-color: rgba(255, 255, 255, .25);
	animation: background-in .8s;
}

@keyframes background-in {
	from {
		background-color: rgba(255, 255, 255, 0);
	}

	to {
		background-color: rgba(255, 255, 255, .25);
	}
}

#app {
	@apply w-full h-full;
	animation: app-in .825s var(--ease-out-quant);
}

@keyframes app-in {
	from {
		opacity: 0;
		transform: scale(.85);
	}

	to {
		opacity: 1;
		transform: scale(1);
	}
}

#dynamic-url {
	animation: app-in .8s var(--ease-out-quant);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div,
article,
header,
section,
footer,
aside,
nav,
main {
	@apply cursor-default select-none;
}

.highlight-interact:hover,
.highlight-interact:focus {
	animation: highlight-focus .3s ease-in-out;
}

.highlight-focus:focus {
	animation: highlight-focus .3s ease-in-out;
}

@keyframes highlight-focus {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.175);
	}

	100% {
		transform: scale(1);
	}
}

.highlight-active:active {
	animation: highlight-active .15s ease-in;
}

@keyframes highlight-active {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(0.825);
	}

	100% {
		transform: scale(1);
	}
}
